<div class="fram" fxLayout="column">
  <mat-card class="tool-bar" >
      <div fxLayout="row" fxLayoutAlign="space-between center" style="height: 100%;">
          <div fxLayout="row" fxLayoutAlign=" center">
              <img class="logo" src="https://firebasestorage.googleapis.com/v0/b/group-communication-58046.appspot.com/o/manacher_logo_blue.svg?alt=media&token=ff730bf3-a2b7-42ef-9541-55f2ee591343"/>                    
              <div style="color: white; margin-left: 10px; margin-right: 10px; user-select:none;">+</div>
              <img *ngIf="getShowSalesLogo()" style="width: 30px; user-select:none;" src="https://cdn.icon-icons.com/icons2/2699/PNG/512/salesforce_logo_icon_170764.png"/>
          </div>    
          <div fxLayout="row" fxLayoutAlign="center center">
              <div *ngIf="getShowPhoneNumber()" fxLayout="row" fxLayoutAlign="center center">
                <mat-icon style="color: white;">phone</mat-icon>
                <div style="color: white; margin-left: 5px;">{{metaData.phoneNumber}}</div>
              </div>

              <button style="color: white;" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="openWhatsApp($event)">
                  <!-- <mat-icon>voicemail</mat-icon> -->
                  <span>WhatsApp</span>
                </button>
                <button mat-menu-item (click)="openTelegram($event)">
                  <!-- <mat-icon>voicemail</mat-icon> -->
                  <span>Telegram</span>
                </button>
                
              </mat-menu>
          </div>
      </div>
      
  </mat-card>
  <div class="below-fram" fxLayout="row">
      <div class="left-container">
          
          <div style=" margin: 10px;">
              <div class="radius-0px" style="height: 300px; background-image: url('https://w0.peakpx.com/wallpaper/414/868/HD-wallpaper-summer-smith-beth-smith-jerry-smith-morty-smith-rick-sanchez-rick-and-morty.jpg');">
                  <mat-card class="full-size radius-0px card-style" style="background-color: rgba(17, 17, 17, 0.548);" fxLayout="column" fxLayoutAlign="center center">
                      <div  style=" color: white;
                                      text-shadow: 2px 2px #0000006c;
                                      font-size: 60px;
                                      font-family: 'Aller', sans-serif;
                                      ">Salesforce Private Support</div> 
                                      
                      <div  style=" color: white;
                                      text-shadow: 2px 2px #0000006c;
                                      font-size: 15px;
                                      margin: 25px;
                                      margin-top: 50px;
                                      font-family: 'Aller', sans-serif;
                                      ">If you are a fresher or experienced candidate who is new to a technology or struggling to complete work alone,we have a team of experienced professionals who can help you to complete assigned task in time and also train you to handle future requirement on your own. Based in India, we provide proxy online job support through net meeting, skype or teamviewer from India in the USA, UK, Canada, Australia, and other countries at quite affordable prices.</div>
                  </mat-card>
              </div>

              <mat-card class="radius-0px card-style" style="height: 300px; margin-top: 10px; background-color:  rgb(17, 17, 17);">
                  <div class="content-back" fxLayoutAlign="center center" style="background-color: rgb(17, 17, 17);">
                      <!-- <div class="back-text">Salesforce Dev Support</div> -->
                      <div style="width: 100%; height: 100%;">
                          <div  fxLayout="column" fxLayoutAlign="center none" style="width: 100%; height: 100%;">                                                           
                              <ul>
                                  <li class="service-head">Our Services</li>
                                  <li class="text-style">Custom business solutions in Salesforce</li>
                                  <li class="text-style">Salesforce Admin Support (Full time)</li>
                                  <li class="text-style">Salesforce Developer Support (Full time)</li>
                                  <li class="text-style">Salesforce Task based Support</li>
                              </ul>                                                           
                          </div>
                      </div>
                  </div>
              </mat-card>

              <mat-card class="radius-0px border-head card-style" style="height: 100px; margin-top: 10px; background-color: #000;">
                  <div class="content-back" fxLayoutAlign="center center">
                      <div class="back-text" >Developer Support</div>
                      <div class="content-front">
                          
                      </div>
                  </div>
              </mat-card>

              <mat-card class="radius-0px card-style" style="height: 250px; margin-top: 1px; background-color: #000;">
                  <div class="content-back" fxLayoutAlign="center center">                    
                      <div class="content-front" fxLayoutAlign="center center">
                          
                          <div fxLayout="row" fxLayoutAlign="center center" >
                              <mat-card class="tech-box" fxLayout="column" fxLayoutAlign="center center" >
                                  <img class="tech-img" src="https://www.awesomelwc.com/resources/lwc.png"/>
                                  <div class="tech-text" style="margin-top: 10px;">LWC</div>
                              </mat-card>

                              <mat-card class="tech-box" style="margin-left: 50px;" fxLayout="column" fxLayoutAlign="center center" >
                                  <img class="tech-img" src="https://d259t2jj6zp7qm.cloudfront.net/images/v1533675979-trailhead_module_lightning_experience_development_kpnor3.png"/>
                                  <div class="tech-text" style="margin-top: 10px;">Aura</div>
                              </mat-card>

                              
                              <mat-card class="tech-box" style="margin-left: 50px;" fxLayout="column" fxLayoutAlign="center center" >
                                  <img class="tech-img" src="https://res.cloudinary.com/hy4kyit2a/f_auto,fl_lossy,q_70/learn/modules/visualforce_fundamentals/1b78e769311ab1dfd85a6734361bb055_badge.png"/>
                                  <div class="tech-text" style="margin-top: 10px;">Visualforce</div>
                              </mat-card>
                              
                              <mat-card class="tech-box" style="margin-left: 50px;" fxLayout="column" fxLayoutAlign="center center" >
                                  <img class="tech-img" src="https://res.cloudinary.com/hy4kyit2a/f_auto,fl_lossy,q_70/learn/modules/apex_integration_services/06d0e8f1f5b59f14d070f0f6e86dc5bd_badge.png"/>
                                  <div class="tech-text" style="margin-top: 10px;">Apex</div>
                              </mat-card>

                              <mat-card class="tech-box" style="margin-left: 50px;" fxLayout="column" fxLayoutAlign="center center" >
                                  <img class="tech-img" src="https://res.cloudinary.com/hy4kyit2a/f_auto,fl_lossy,q_70/learn/modules/code-builder-quick-look/870ebb74011a69d18822a53fac579df9_badge.png"/>
                                  <div class="tech-text" style="margin-top: 10px;">Integration</div>
                              </mat-card>
                          </div>
                          
                      </div>  
                  </div>
              </mat-card>

              <mat-card class="radius-0px card-style" fxLayout="column" fxLayoutAlign="center start" style="height: 300px; margin-top: 10px; background-color: #00811c;">
                 
                  <div class="film-black" >
                      <p class="text-white" style="font-size: 25px;">
                          <b>Salesforce Admin & Developer Support Services</b>
                      </p>

                      <p class="text-white">
                          In the Salesforce Universe, it is possible to tackle every software support needs of your business. However, the professional expertise of a team of certified Salesforce experts would resolve issues with élan for administration and development, and increasing user adoption. Cloud Analogy, over the years, has established itself as one of the prime companies offering outstanding Salesforce Admin & Developer Support services. We have demonstrated exceptional skills in transforming the businesses of our clients by being their extended team. Our comprehensive services include a range of activities including administration and customization of your Salesforce tasks.
                      </p>
                      
                  </div>
                 
              </mat-card>

              <mat-card class="radius-0px border-head card-style" fxLayoutAlign="center center" style="height: fit-content; margin-top: 10px; background-color: #000;">
                  <div class="content-back" fxLayout="column" fxLayoutAlign="center center">
                          <div class="back-text" style="font-size: 35px;">Build, automate, and secure with the</div>
                          <div class="back-text" style="font-size: 35px;">leading low code platform.</div>
                  </div>
              </mat-card>

              <mat-card class="radius-0px card-style" style="height: 250px; margin-top: 1px; background-color: #000;">
                  <div class="content-back" fxLayoutAlign="center center">                    
                      <div class="content-front" fxLayoutAlign="center center">
                          
                          <div fxLayout="row" fxLayoutAlign="center center" >
                              <mat-card class="card2" fxLayout="column" fxLayoutAlign="center center" >
                                  <img class="tech-img" src="https://res.cloudinary.com/hy4kyit2a/f_auto,fl_lossy,q_70/learn/modules/flow-builder/f1d99c79f186cea8adac115627a4729b_badge.png"/>
                                  <div class="card2-text" style="margin-top: 10px;">Flows</div>
                              </mat-card>

                              <mat-card class="card2" style="margin-left: 50px;" fxLayout="column" fxLayoutAlign="center center" >
                                  <img class="tech-img" src="https://d259t2jj6zp7qm.cloudfront.net/images/v1533675979-trailhead_module_lightning_experience_development_kpnor3.png"/>
                                  <div class="card2-text" style="margin-top: 10px;">P.B.</div>
                              </mat-card>
                              
                              <mat-card class="card2" style="margin-left: 50px;" fxLayout="column" fxLayoutAlign="center center" >
                                  <img class="tech-img" src="https://res.cloudinary.com/hy4kyit2a/f_auto,fl_lossy,q_70/learn/modules/visualforce_fundamentals/1b78e769311ab1dfd85a6734361bb055_badge.png"/>
                                  <div class="card2-text" style="margin-top: 10px;">Workflows</div>
                              </mat-card>
                              
                              <mat-card class="card2" style="margin-left: 50px;" fxLayout="column" fxLayoutAlign="center center" >
                                  <img class="tech-img" src="https://res.cloudinary.com/hy4kyit2a/f_auto,fl_lossy,q_70/learn/modules/apex_integration_services/06d0e8f1f5b59f14d070f0f6e86dc5bd_badge.png"/>
                                  <div class="card2-text" style="margin-top: 10px;">Triggers</div>
                              </mat-card>

                              
                          </div>
                          
                      </div>  
                  </div>
              </mat-card>

              <mat-card class="radius-0px card-style" fxLayout="column" fxLayoutAlign="center start" style="height: 300px; margin-top: 10px; background-color: #000000;">
                  <div fxLayout="row" fxLayoutAlign="center center" style="width: 100%; height: 100%">
                      <mat-card class="flag-card">
                          <img style="width: 100%;" src="https://upload.wikimedia.org/wikipedia/en/thumb/4/41/Flag_of_India.svg/2560px-Flag_of_India.svg.png"/>
                      </mat-card>
                      <mat-card class="flag-card" style="margin-left: 50px">
                          <img style="width: 100%;" src="https://cdn.britannica.com/79/4479-050-6EF87027/flag-Stars-and-Stripes-May-1-1795.jpg"/>
                      </mat-card>
                      <mat-card class="flag-card" style="margin-left: 50px">
                          <img style="width: 100%;" src="https://media.istockphoto.com/vectors/canada-vector-id652606074?k=20&m=652606074&s=612x612&w=0&h=Llh7O4ceWub3VZ1Pcthe0j45ztvSTyVUZqVTaXgqGoY="/>
                      </mat-card>
                      <mat-card class="flag-card" style="margin-left: 50px">
                          <img style="width: 100%;" src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f2/Flag_of_Great_Britain_%281707%E2%80%931800%29.svg/2560px-Flag_of_Great_Britain_%281707%E2%80%931800%29.svg.png"/>
                      </mat-card>
                      
                  </div>
              </mat-card>

              <mat-card class="radius-0px card-style" style="height: 600px; margin-top: 10px; background-image: url('https://www.salesforce.com/news/wp-content/uploads/sites/3/2020/09/Industries_feature_tile.png');">
              </mat-card>

              <mat-card class="radius-0px card-style" fxLayout="column" fxLayoutAlign="center start" style="height: 300px; margin-top: 10px; background-color: #812f00;">
                 
                  <div class="film-black" >
                      <p class="text-white">
                          If you are a fresher or experienced candidate who is new to a technology or struggling to complete work alone,we have a team of experienced professionals who can help you to complete assigned task in time and also train you to handle future requirement on your own. Based in India, we provide proxy online job support through net meeting, skype or teamviewer from India in the USA, UK, Canada, Australia, and other countries at quite affordable prices.
                      </p>
                      <p class="text-white">
                          You can choose Online Jobs Support for online technical job support service for one of below reasons
                      </p>
                      <p class="text-white">
                         - Highly experience certified professional consultants in with more than 5 or 6 real time project implementation experience.
                      </p>
                      <p class="text-white">
                         - We are located in India and online technical job support is done via Skype,GotoMeeting,TeamViewer etc
                      </p>
                      <p class="text-white">
                         - Daily meetings will be scheduled for Support between you and our Consultant.
                      </p>
                  </div>
                 
              </mat-card>

              <mat-card class="radius-0px card-style" style="height: 600px; margin-top: 10px; background-image: url('https://www.theskyplanner.com/wp-content/uploads/2022/03/salesforce-admin-vs-developer-header.png');">
              </mat-card>

              <mat-card class="radius-0px footer card-style" style="height: 300px; margin-top: 10px">
                  <img class="logo" src="https://firebasestorage.googleapis.com/v0/b/group-communication-58046.appspot.com/o/manacher_logo_blue.svg?alt=media&token=ff730bf3-a2b7-42ef-9541-55f2ee591343"/>                    
                  
                  <div style="margin-top: 50px;" fxLayout="row">
                      <div style="width: 20%;">
                          <div class="contact-head">Contact</div>
                          <div style="color: white;">+911342-796952</div>
                          <div style="color: white;"><a href="connect@manacher.com" style="color: white;">connect@manacher.com</a></div>
                      </div>
                      <div  style="width: 25%;">
                          <div class="contact-head">Offices</div>
                          <div style="color: white;">496, Near L.I.C Delhi road Bijnor (U.P) India</div>                    
                      </div>
                      <div  style="width: 50%;">
                          <div class="contact-head">About</div>
                          <div style="color: white;">Manacher Software Solutions Pvt. Ltd. provides digital transformation services to some of the world's leading brands. Our expertise lies in the area of Luxury Retail, Cloud Engineering, Enterprise Mobility, and Embedded Systems. We are a team of "smart creatives" who embrace bleeding-edge technology to deliver deep engineering service with craftsmanship. We strive to build customer relationships and create delight with design at heart. Our customers believe we are an agile services provider committed to innovative outcomes, and that may explain our exceptional customer retention.</div>
                          
                      </div>
                  </div>
              </mat-card>
          </div>

      </div>
      
      <div class="right-container">
          <div style="margin: 10px;">
              <mat-card class="radius-0px right-top card-style">
                  <div fxLayout="column" style="height: 100%; position:relative;">
                               
                      <div style="width: 100%;" fxLayout="column" fxLayoutAlign="space-around start" >
                          <div class="contact-head">Contact For Support</div>

                          <div fxLayout="column" style="margin-top: 10px; width: 100%;">
                              <mat-form-field class="example-full-width" appearance="fill" style="width: 100%;">
                                  <mat-label>Enter your name</mat-label>
                                  <input type="text" matInput placeholder="Name" [(ngModel)]="dataModel.name">                
                              </mat-form-field>
  
                              <mat-form-field class="example-full-width" appearance="fill" style="width: 100%;">
                                  <mat-label>Email</mat-label>
                                  <input type="email" matInput placeholder="abc@example.com" [(ngModel)]="dataModel.email" >                
                              </mat-form-field>                             
                                
                              <mat-form-field class="example-full-width" appearance="fill" style="width: 100%;">
                                  <mat-label>Your Message</mat-label>
                                  <textarea matInput placeholder="" [(ngModel)]="dataModel.query" ></textarea>
                              </mat-form-field>  
  
                              <div style="width: 100%;">
                                  <!-- <button mat-stroked-button color="warn">Create Account</button> -->
                                  <button mat-raised-button color="warn" (click)="onSubmitQuery($event)" clickable>Submit</button>
                              </div> 
                              
                          </div>
                                             
                      </div>
                      <div *ngIf="isProgress" class="full-size" fxLayoutAlign="center center" style="background-color: rgba(0, 0, 0, 0.178); position:absolute;">
                          <mat-spinner style="color: rgb(255, 94, 0);"></mat-spinner>
                      </div>
                  </div>
              </mat-card>
              <mat-card class="radius-0px right-down card-style button-card" fxLayout="row" fxLayoutAlign="start center" (click)="openTelegram($event)">
                  <img class="tech-img" src="https://upload.wikimedia.org/wikipedia/commons/8/82/Telegram_logo.svg"/>
                  <div class="social-text">Telegram</div>
              </mat-card>
              
              <mat-card class="radius-0px right-down card-style button-card" fxLayout="row" fxLayoutAlign="start center" (click)="openWhatsApp($event)">
                  <img class="tech-img" src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6b/WhatsApp.svg/1200px-WhatsApp.svg.png"/>
                  <div class="social-text">WhatsApp</div>
              </mat-card>

              <mat-card class="radius-0px right-down card-style button-card" fxLayout="row" fxLayoutAlign="start center" (click)="openEmail($event)">
                  <img class="tech-img" src="https://cdn-icons-png.flaticon.com/512/281/281769.png"/>
                  <div class="social-text">Mail</div>
              </mat-card>

              <mat-card class="radius-0px right-down card-style" fxLayout="column" fxLayoutAlign="start" style="background-color: rgb(236, 236, 236);">
                <div class="contact-head">Session Card</div>

                <div fxLayout="column" style="margin-top: 10px; width: 100%;">
                    <mat-form-field class="example-full-width" appearance="fill" style="width: 100%;">
                        <mat-label>User Id</mat-label>
                        <input type="text" matInput placeholder="User Id" [(ngModel)]="sessionModel.uid">                
                    </mat-form-field>

                    <mat-form-field class="example-full-width" appearance="fill" style="width: 100%;">
                        <mat-label>Content</mat-label>
                        <input type="text" matInput placeholder="Name" [(ngModel)]="sessionModel.content">                
                    </mat-form-field>

                    <mat-form-field class="example-full-width" appearance="fill" style="width: 100%;">
                        <mat-label>Domain</mat-label>
                        <input type="text" matInput placeholder="Domain" [(ngModel)]="sessionModel.domain" >                
                    </mat-form-field>                                                          

                    <div style="width: 100%;">
                        <!-- <button mat-stroked-button color="warn">Create Account</button> -->
                        <button mat-raised-button color="warn" (click)="onSubmitSession($event)" clickable>Submit</button>
                    </div> 

                    <div *ngIf="isSessionProgress" class="full-size" fxLayoutAlign="center center" style="background-color: rgba(0, 0, 0, 0.178); position:absolute;">
                      <mat-spinner style="color: rgb(255, 94, 0);"></mat-spinner>
                    </div>
                </div>
              </mat-card>
              
          </div>
          
      </div>
  </div>
</div>